<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> Proyecto Final </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="#">Videojuegos</a>
        </nav>
        <div class = "container">
            <div class = "col">
                <div class = "row-md-5">
                    <div class = "card">
                        <div class = "card-body">
                            <form action = "/" method = "post">
                                <div class = "form-group">
                                    <input class = "form-control" type = "text" name = "title" placeholder = "Busca Videojuegos">
                                </div>
                                <button class = "btn btn-primary" type = "submit">
                                    Search
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class = "row-md-7">
                    <table class = "table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Operations</th>
                        </tr>
                </thead>
                <tbody>

                    <% for (var i =0; i < tasks.length; i++)  {     %>
            
                        <tr>
                            <td> <%= i+1 %></td>
                            <td> <strong> <%= tasks[i].title %>   </strong> </td>
                            <td>  <%= tasks[i].description %> </td>
                            <td>
            
                                <a class="btn btn-dark" href="turn">Done </a>
                                <a href=/delete/<%= tasks[i]._id %>   class="btn btn-danger" href="turn">Delete </a>
                                
                                <a href=/edit/<%= tasks[i]._id %> class="btn btn-info" href="turn">Edit </a>
            
            
            
                            </td>
                            
                        </tr>    
            
            
                        <%  }  %>
            <!--  TABLA CON LOS DATOS-->
            
                </tbody>
            </div>
        </div>
    </body>
</html>