<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> Proyecto Final </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4">
            <h1 class="navbar-brand">Videojuegos</h1>
        </nav>
        <div class = "container">
            <div class = "col">
                <div class = "row-md-5">
                    <div class = "card">
                        <div class = "card-body">
                            <form action = "/signin" method = "post">
                                <div class = "form-group">
                                    <label for = "username"> Username </label>
                                    <input class = "form-control" type = "text" name = "username" placeholder = "Username">
                                </div>
                                <div class = "form-group">
                                    <label for = "password"> Password </label>
                                    <input class = "form-control" type = "password" name = "password" placeholder = "Password">
                                </div>
                                <button class = "btn btn-primary" type = "submit">
                                    Log In
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<%- include ("./partials/_footer") %>