	    <footer class="footer">
	    	<div class="container">
		        <p>&copy; 2020 David & Rey, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
	        </div>
	    </footer>
	    <style>
	    	.footer {
				position: sticky;
  				bottom: 0;
				width: 100%;
				margin-top: 60px;
				height: 60px; /* Set the fixed height of the footer here */
				line-height: 60px; /* Vertically center the text there */
				background-color: #f5f5f5;
			}
	    </style>
    </body>
</html>