<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <title> Proyecto Final </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-dark mb-4">
            <a class="navbar-brand" href="">Videojuegos</a>
            <a class = "navbar-brand" href = "./logout">Log Out</a>
        </nav>